nav.row(class="navigation")
	.col-xs-12.col-sm-2.hidden-xs
		.isotipo
			a(href="/")
				img(src="../images/isotipo_white.png")
	.col-xs-12.col-sm-10
		ul.main_nav
			li
				a(href="#aboutUs" class="scroll-to") Nosotros
			li
				a(href="#ourMusic" class="scroll-to") M&uacute;sica
			li
				a(href="#contactUs" class="scroll-to") Cont&aacute;ctenos
		
