@import '../../../clientlibs/style.scss';

.footer{
    background-color: $color-gray;
    padding: $content-padding $content-padding;

    @include media($screen-md-min){
        padding: 60px 0;
    }
    
    span{
        color: $color-dark-gray;
        font-size: $copy-size-xs;
    }
    .container__column{
        &:first-child{
            margin-bottom: 30px;
            @include media($screen-md-min){
                margin-bottom: 0;
            }
        }
    }
}