@import 'mixins/_media_queries.scss';
body{
    font-size: $copy-size;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: auto;
    
    &__columns{
        @include media($screen-md-min){
            display: flex;
            justify-content: space-between;
        }
        &--two{
            .container__column{
                width: 50%;
            }
        }
    }
}

.section{
    margin-top: $section-maring;
    margin-bottom: $section-maring;
    padding-left: $content-padding;
    padding-right: $content-padding;
    @include media($screen-md-min){
        padding: 0;
    }
}

.icon{
    text-decoration: none;
}

a{
    &:hover{
        color: $color-light-blue;
    }
}

p{
    line-height: 30px;
}