/*=============================
=            Media            =
=============================*/

$screen-xs-min: 568px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


/*==============================
=            Colors            =
==============================*/
$color-white: #ffffff;
$color-black: #000000;
$color-dark-red: #BB2531;
$color-transparent: transparent;
$color-blue: #012169;
$color-gray: #f5f5f5;
$color-dark-gray: #444;
$color-blue-fb: #4267b2;
$color-light-blue: #0077b5;

/*==============================
=            Font Size         =
==============================*/
$heading-size:      40px;
$heading-size-s:    50px;
$copy-size-xxl:		30px;
$copy-size-xl:		24px;
$copy-size-l:		20px;
$copy-size: 		18px;
$copy-size-s:		16px;
$copy-size-xs: 		14px;
$copy-size-xxs:		12px;

/*==============================
=            Padding          =
==============================*/
$content-padding: 30px;
