@import '../../../clientlibs/style.scss';


.social-share{
    .icon{
        display: inline-block;
        &--facebook{
            color: $color-blue-fb;
        }
        &--mail,
        &--phone,
        &--whatsapp{
            color: $color-light-blue;
        }
        &:before{
            font-size: $copy-size-xl;
        }
    }
    &__link{
        font-size: $copy-size-xs;
        text-decoration: none;
        color: $color-dark-gray;
        margin-left: 10px;
    }
}