.navigation{
	background-color: $black;
	height: 64px;
	position: fixed;
	bottom: 0;
	top: auto;
	width: 100%;
	z-index: 103;
	display: flex;
	align-items: center;
	padding: 0 15px;

	&.top{
		top: 0;
		bottom: auto;
	}

	.main_nav{
		padding: 0;
		list-style-type: none;
		text-align: center;

		li{
			display: inline-block;
			margin-left: 20px;

			&:first-child{
				margin-left: 0;
			}

			a{
				color: $white;
				font-size: rem(12);
				text-decoration: none;

				&.active{
					text-decoration: underline;
					&:hover{
						text-decoration: underline;
					}
				}

				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}

@include media(sm){
	.navigation{
		padding-left: 30px;
		padding-right: 30px;
		.main_nav{
			float: right;
			li{
				margin-left: 50px;
				a{
					font-size: rem(16);
				}
			}
		}
	}
}