@import '../../../clientlibs/style.scss';

.navigation{
    padding: 18px 0;
    position: relative;
    @include media($screen-xs-min){
        padding: 20px 30px;
        display: flex;
        align-items: center;
    }
    &__logo{
        margin: 0 auto;
        display: block;
        @include media($screen-xs-min){
            margin: 0;
            display: inline-block;
        }
    }
    &__menu{
        padding: 40px 0;
        margin: 0;
        background-color: $color-white;
        width: 60%;
        float: right;
        list-style-type: none;
        display: none;
        &.active{
            display: block;
        }
        @include media($screen-xs-min){
            display: block;
            padding: 0;
            width: 100%;
            float: none;
            margin-left: 100px;
        }
    }
    &__item{
        padding: 10px 10px 10px 25%;
        @include media($screen-xs-min){
            display: inline-block;
            margin-right: 60px;
            padding: 0;
        }
        a{
            color: $color-black;
            text-decoration: none;
            font-size: $copy-size-l;
        }
    }

    &__open-menu {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 20px;
        @include media($screen-xs-min){
            display: none;
        }
        .open-menu{
            &__bar1, &__bar2, &__bar3 {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }
        }
        
        &.change{
            .open-menu{
                /* Rotate first bar */
                &__bar1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
                    transform: rotate(-45deg) translate(-9px, 6px) ;
                }

                /* Fade out the second bar */
                &__bar2 {
                    opacity: 0;
                }

                /* Rotate last bar */
                &__bar3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
                    transform: rotate(45deg) translate(-8px, -8px) ;
                }
            }
            
        }
    }
}